{% extends 'content_base.html.twig' %}

{% block title %}Gérer les affectations{% endblock %}

{% block content_class %}{{ parent() }} show-article-container-border-green{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Gérer les affectations  {{ affectations|length }}</h1>
            <form action="">
                <div class="input-group mb-3">
                    <input type="text" value="{{ app.request.query.get('q') }}" name="q" class="form-control"
                           placeholder="recherche..">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <form action="">
                            <div class="input-group mb-3">
                                <input type="text" value="{{ app.request.query.get('evaluate') }}" name="evaluate"
                                       class="form-control"
                                       placeholder="recherche..">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>

                        Nom d'evalués
                    </th>
                    <th>
                        <form action="">
                            <div class="input-group mb-3">
                                <input type="text" value="{{ app.request.query.get('evaluator') }}" name="evaluator"
                                       class="form-control"
                                       placeholder="recherche..">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>

                        Nom d'evaluateur
                    </th>
                </tr>
                </thead>
                <tbody>

                {% if app.request.query.get('q') %}

                    {% for affectation in affectations %}
                        <tr>
                            <td>
                                {{ affectation.evaluate }}
                            </td>
                            <td>
                                {{ affectation.evaluator }}
                            </td>
                        </tr>
                    {% endfor %}

                {% elseif app.request.query.get('evaluator') %}

                    {% for evaluator in evaluators %}
                        <tr>
                            <td>
                                {{ evaluator.evaluate }}
                            </td>
                            <td>
                                {{ evaluator.evaluator }}
                            </td>
                        </tr>
                    {% endfor %}

                {% elseif app.request.query.get('evaluate') %}

                    {% for evaluate in evaluates %}
                        <tr>
                            <td>
                                {{ evaluate.evaluate }}
                            </td>
                            <td>
                                {{ evaluate.evaluator }}
                            </td>
                        </tr>
                    {% endfor %}

                {% else %}

                    {% for affectation in affectations %}
                        <tr>
                            <td>
                                <a href="{{ path('affectation_show', { id: affectation.id}) }}">{{ affectation.evaluate }}</a>
                            </td>
                            <td>
                                {{ affectation.evaluator }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">
                                No affectations found
                            </td>
                        </tr>
                    {% endfor %}

                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
